.SubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 16px 4px;
  padding: 12px;

  background-color: #117243;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  width: calc(100% - 8px);
}