.Form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 10px auto;

  max-width: 400px;

  padding: 10px;

  .FormLabel {
    margin: 0;
  }
}

@media (min-width: 480px) {
  .Form {
    box-shadow: 0 0 24px rgba(0, 0, 0, .15);
    margin: 50px auto;
    padding: 20px;
  }
}