.LinkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 10px;
  margin: 5px 0;
  font-size: 1.1em;
  text-decoration: none;
  border: none;
  border-radius: 2px;

  &.Green {
    background-color: #117243;
    color: #ffffff;
  }

  &.Gray {
    background-color: #939598;
    color: #000000;
  }

  &.Dark {
    background-color: #2F3538;
    color: #ffffff;
  }

  &.White {
    background-color: #ffffff;
    color: #000000;
  }
}