.ProductWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff;
  margin: 0 10px;

  .ProductName {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .ProductPrice {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
  }

  .ProductRating {
    display: flex;
    align-items: center;

    .OpinionsAmount {
      margin-left: 4px;
    }
  }

  .AddToCart {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    border: none;
    border-radius: 2px;

    background-color: transparentize(#117243, .15);
    color: #ffffff;

    .BtnText {
      display: flex;
      justify-content: center;
      width: calc(100% - 24px);
      padding-left: 24px;
      font-weight: 700;
    }

    .BtnIcon {
      width: 24px;
      height: 100%;
    }
  }
}

.Error {
  display: flex;
  font-size: 1.2em;
  background-color: #ffffff;
  padding: 10px;
  margin: 0 10px 10px;
}