$sidebarWidth: 320px;

.SidebarWrapper {
  position: fixed;
  display: flex;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1010;
  background-color: rgba(0, 0, 0, .3);
  transition: background-color 300ms ease-in-out;

  &.Hide {
    display: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

.Sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1020;
  background-color: #ffffff;
  width: $sidebarWidth;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;

  &.SideLeft {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  &.SideRight {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  &.Hide {
    &.SideLeft {
      left: #{0 - $sidebarWidth};
    }

    &.SideRight {
      right: #{0 - $sidebarWidth};
    }
  }

  .Header {
    display: flex;
    align-items: center;
    min-height: 32px;
    margin-bottom: 10px;

    .Title {
      font-size: 1.3em;
      width: calc(100% - 70px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .Body {
    display: flex;
    flex-direction: column;
  }
}