@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.FormInput {
  padding: 12px;
  border-radius: 2px;
  background-color: #ffffff;
  border-bottom: 2px solid #117243;

  &:focus {
    border-bottom-width: 4px;
    padding-bottom: 10px;
  }
}

.Button {
  display: flex;
  padding: 12px;
  color: #ffffff;
  text-decoration: none;
  margin: 12px 0;
  border-radius: 2px;
  border: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  &.Button--green {
    background-color: transparentize(#117243, .15);
  }

  &.Button--gray {
    background-color: #939598;
  }
}